@charset "utf-8";

/* 色選択 */
/* https://huey.design/ */

* {
    /* outline: 1px solid #3fb169; */
}

.flex {
    display: flex;
}

html {
    font-size: 100%;
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #e1e3f9;
}

header {
    display: flex;
    background-color: #3a4ab6;
    color: #FFFFFF;
    justify-content: space-between;
}

h1 {
    padding: 0 2%;
    font-size: 2.5rem;
    font-weight: 100;
}

nav {
    width: 70%;
    display: flex;
    justify-content: end;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5rem;
}

ul {
    display: flex;
    width: 70%;
    align-items: center;
}

li {
    display: grid;
    place-content: center;
    list-style: none;
    padding: 1%;
    margin: 0;
    width: 100%;
}

a {
    color: #000000;
    text-decoration: none;
    /* font-size: 1.5rem; */
}

.content-item {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
}

.content-item>section {
    background-color: #FFFFFF;
    width: 40%;
    width: 400px;
    padding: 2%;
    margin: 2%;
    border-bottom: 3px solid #3a4ab6;
    border-radius: 5%;
}

section:hover {
    background-color: #c4c8f5;
    cursor: pointer;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

main {
    margin: 2% 0.5%;
}

/* .product_registration,
.receiving_management {
    margin: 2% 0.5%;
    justify-content: space-between;
    width: 50%;
} */

.product_registration label,
.receiving_management label,
.issuing_management label {
    margin: 0 20px;
}

label {
    display: grid;
    place-items: center;
    cursor: pointer;
}

input {
    cursor: pointer;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

input[type="submit"] {
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #3a4ab6;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
}

select {
    cursor: pointer;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 2% 1.5%;
}

th {
    background-color: #3a4ab6;
    color: #FFFFFF;
}

th,
td {
    border: 1px solid #000000;
    padding: 2%;
    box-sizing: border-box;
}

.product_registration th:nth-of-type(1),
.inventory_management th:nth-of-type(1) {
    width: 300px;
}

.issuing_management th:nth-of-type(1) {
    width: 100px;
}

th:nth-of-type(1) {
    width: 50px;
}

.product_registration td:nth-of-type(1),
.inventory_management td:nth-of-type(1) {
    text-align: left;
}

td:nth-of-type(1) {
    text-align: center;
}

.product_registration th:nth-of-type(2),
.inventory_management th:nth-of-type(2) {
    width: 100px;
}

th:nth-of-type(2) {
    width: 250px;
}

.product_registration th:nth-of-type(3){
    width: 120px;
}

th:nth-of-type(3) {
    width: 90px;
}

th:nth-of-type(4) {
    width: 120px;
    text-align: center;
}

th:nth-of-type(5) {
    width: 120px;
    text-align: center;
}

.product_registration td:nth-of-type(2),
.inventory_management td:nth-of-type(2) {
    text-align: right;
}

td:nth-of-type(3) {
    text-align: center;
}

.issuing_management td:nth-of-type(4) {
    text-align: left;
}

td:nth-of-type(4) {
    text-align: center;
}

input[type="checkbox"] {
    display: none;
}

.product_registration table label {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    /* text-align: center; */
    /* cursor: pointer; */
    /* width: 100%; */
    /* display: block; */
    /* outline: 1px solid #000000; */
}